html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  font-weight: 800;
  background-color: antiquewhite;
  height: 100vh;
}

html .header,
body .header {
  padding: 0.5rem;
  height: 10vh;
  text-align: center;
  background-color: #ffe58f;
}

html .body,
body .body {
  position: relative;
  height: 80vh;
  background-color: #ffdeb2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html .body .chart-container,
body .body .chart-container {
  position: relative;
  width: 80vw;
  height: 70vh;
}

html .body .chart-container canvas,
body .body .chart-container canvas {
  border: 1px dotted red;
}

html .footer,
body .footer {
  height: 10vh;
  background-color: rgba(75, 43, 1, 0.5);
  z-index: 5;
}
